@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Default Mode */
:root {
  --primary: theme("colors.amber.600");
  --background: white;
  --light: theme("colors.amber.50");
}

.amber-mode {
  --primary: theme("colors.amber.600");
  --light: theme("colors.amber.50");
}

.lime-mode {
  --primary: theme("colors.lime.600");
  --light: theme("colors.lime.50");
}

.teal-mode {
  --primary: theme("colors.teal.600");
  --light: theme("colors.teal.50");
}

.sky-mode {
  --primary: theme("colors.sky.600");
  --light: theme("colors.sky.50");
}

.violet-mode {
  --primary: theme("colors.violet.600");
  --light: theme("colors.violet.50");
}

.pink-mode {
  --primary: theme("colors.pink.600");
  --light: theme("colors.pink.50");
}

.gray-mode {
  --primary: theme("colors.gray.600");
  --light: theme("colors.gray.50");
}

.stone-mode {
  --primary: theme("colors.stone.600");
  --light: theme("colors.stone.50");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  &.dark {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal {
  position: fixed;
  top: 0;
  display: flex;
  z-index: 1000;
}

.modal-content {
  padding: 20px;
  border-radius: 20px;
  position: relative;
  min-width: 375px;
  max-width: 90%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}
